<p>
  <strong>Pseudo :</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Commentaire :</strong>
  <%= comment.body %>
</p>

<% if Comment.any? %>
Pas de commentaire pour cet article
<%else%>
<p>
  <%= link_to 'Supprimer le Commentaire', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Etes-vous sûr ?' } %>
</p>
<p>
</p>
<%end%>
