<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <p>Copyright &copy; Synergie Gaming 2016</p>
    </div>
    <!-- /.col-lg-12 -->
  </div>
    <!-- /.row -->
</footer>
