<!-- Blog Sidebar Widgets Column -->
<div class="well">
  <h4><%= image_tag "twitch_logo" %></h4>
  <p class="responsive"><iframe src="http://player.twitch.tv/?channel=synergiegaming" frameborder="0" scrolling="no" height="260" width="260"></iframe><a href="http://www.twitch.tv/synergiegaming?tt_medium=live_embed&tt_content=text_link" style="padding: 4px 10px 0px 0px; display:block; width:280px; font-weight:normal; font-size:10px;text-decoration:underline;">Suivez le live depuis SynergieGaming sur www.twitch.tv</a></p>
</div>

<!-- TEAMSPEAK-->
<div class="well">
  <h4>Teamspeak</h4>
  <div id="teamspeak">
    <script type="text/javascript">
    var ouvert = 1;
    var style = "classic";
    var couleur_fond = "E9E9E9";
    var couleur_texte = "000000";
    var largeur = 270;
    var hauteur = 400;
    var ip = "ts.synergiegaming.fr";
    var port = 9987;
    var query = 10011;
    var lang = "fr";
    var taille_police = 12;
    var voir_salons = 1;
    </script>
    <script type="text/javascript" src="https://www.ts3-serveur.com/web_script/webscript_ts3.js"></script>
  </div>
</div>
<!-- /.row -->
