
<!-- Page Content -->
<div class="container">

<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-7">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>Merci Manu ! </h1>

        <!-- Author -->
        <p class="lead">
            par <a href="#">Nathaniel </a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posté : lundi 25 janvier 2016 14:36 </p>

        <hr>

        <!-- Preview Image -->
        <img class="img-responsive" alt="Manuel VALLS" <%= image_tag "Manuel-Valls-au-Parc-des-Princes-le-15-avril-2015_exact1024x768_l.jpg" %>

        <hr>

        <!-- Post Content -->
        <p class="lead">La semaine dernière, Manuel Valls envoyait un courrier aux sénateurs qui va peut-être marquer un tournant dans les compétitions d'e-sport en France.</p>

        <h2>IL NOUS A COMPRIS !</h2>

        <p>
            La semaine dernière, Manuels Valls a pu… Quoi ? Vous savez pas qui est Manuel Valls ? Ptain sérieux les mecs sortez le nez dehors, arrêtez de geeker et trouvez-vous un boulot, merde ! Je passe pour quoi, moi après ?

        </p>

        <p>
            Bon, alors pour les plus paumés d’entre nous, Manuel Valls (Manu, ou Manouel *prononcez avec un accent portugais appuyé, pour un effet de style du meilleur goût*), c’est notre premier ministre. C’est donc pas Joe le Clodo, et contrairement à vous, il bosse dur.

        </p>

        <p>
            Et, chose qui n’est pas coutume, on va pas profiter de cette tribune pour tirer à boulet rouge sur notre gouvernement. Parce que pour une fois, il pense à nous, notre gouvernement.

        </p>



            "T'inquiète ma couille, je gère."
        <p>
            En effet, lundi 18 janvier dernier, Manuel Valls (notre premier ministre, je le répète pour les deux teubés du fond) adressait un courrier trouvable ici à nos sénateurs afin qu’ils se penchent sur la question des compétitions d’e-sport.

        </p>

        <p>
            Et alors que vous comprenez enfin le rapport entre ce que je baragouine depuis tout à l’heure et le jeu vidéo, Manu explique, entre autre, à ceux qui font nos lois que les compétitions de jeux vidéo devraient connaitre une croissance très forte d’ici les 5 prochaines années, et qu’elles suscitent autant d’intérêt que certaines de nos plus grandes activités culturelles et sportives.

        </p>

        <p>
            Dans les bonnes nouvelles, on apprend aussi que le gouvernement parle notamment de « définir si nécessaire le statut professionnel des joueurs », afin de donner « une base juridique à leurs revenus ». Donc là oui, on parle pépéte, flouze, thune, oseil, tout ça. Et autrement que via les sponsors.
            <br>
            De plus, Valls demande aux sénateurs de pondre une loi qui favoriserait le développement des compétitions, en s’inspirant des régimes des compétitions sportives.
            <br>
            Enfin, on parle de placer ces compétitions sous l’autorité d’une fédération nationale.

        </p>

        "Bordel, Link Thanos, où est-ce que tu as eu ce numéro ? Non, je ne sais pas quand la loi sera prête. ARRETE DE M'APPELLER !"

        <p>
            Alors qu’est ce que ça signifie un peu, tout ça ? Eh bien pas mal de bonnes choses. Personnellement, j’y vois deux grands intérêts :

        </p>

        <p>
            - Le premier, et à mon sens le plus important, c’est qu’on commence enfin sérieusement à considérer le jeu vidéo comme faisant partie intégrante de notre culture. On se détache de plus en plus de l’image d’un média débilitant et suscitant la peur des ménagères et l’addiction de notre fragile jeunesse.

        </p>

        <p>
            Je le pense et je le clame : le jeu vidéo est un média à part entière, dont on peut en faire absolument ce qu’on veut, à l’instar de la musique ou du cinéma ! C’est tantôt un art, tantôt un divertissement, et malheureusement mais c’est comme ça : une industrie. A nous de choisir ce que nous voulons en faire !

        </p>

        <p>
            - Le deuxième point, c’est la législation autour des compétitions. On aura un carcan, une organisation autour de laquelle vont se développer les compétitions. Ce qui veut dire qu’éventuellement (en tout cas si la loi suit la logique des compétitions sportive, ce qu’elle semble faire) nous aurons peut-être une fédération nationale française d’e-Sport.
            <br>
            Ce qui veut dire des clubs communaux, des clubs poussins, des associations dans les écoles et des associations reconnues d’utilité publique… Bref. Plein de possibilité pour faire du jeu vidéo un outil communautaire et de partage.

        </p>

        <p>
            Je sais pas pour vous, mais moi j’ai jamais autant envisagé de devenir coach…

        </p>

        <p>
            Une réaction, des questions ? N'hésitez pas à commenter ; )

        </p>


        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <div class="well">
            <h4>Laissez un Commentaire :</h4>
            <form role="form">
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Start Bootstrap
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>

        <!-- Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Start Bootstrap
                    <small>August 25, 2014 at 9:30 PM</small>
                </h4>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <!-- Nested Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Nested Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <!-- End Nested Comment -->
            </div>
        </div>

    </div>

    <!-- Blog Sidebar Widgets Column -->
    <div class="col-md-5">

        <!-- Blog Search Well -->
        <div class="well">
            <h4>Blog Search</h4>
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                </button>
                </span>
            </div>
            <!-- /.input-group -->
        </div>

        <!-- Blog Categories Well -->
        <div class="well">
            <h4>Blog Categories</h4>
            <div class="row">
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                        <li><a href="#">Category Name</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->
        </div>

        <!-- Side Widget Well -->
        <div class="well">
            <h4>Side Widget Well</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
        </div>

    </div>

</div>
<!-- /.row -->

<hr>

<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>
    <!-- /.row -->
</footer>
