/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";
 @import "devise_bootstrap_views";


 /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
  background-color: #000;
}

body {
  padding-bottom: 40px;
  background-color: #000;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

/*main {
  background-color: #FBF9E2;
}*/

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  float: left;
  color: #fff;
  text-shadow: 2px 2px #5A8BFD;
  text-align: center;
  margin-left: -18%;
  display: block;
  width: 35%;
  padding-top: 10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

/* NAVBAR
----------------------------------------------------*/
.main_nav
{
width: 100%;
height: 40px;

background-image: radial-gradient(circle, #2E68E2, #000000);
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
background-clip: border-box;
background-origin: padding-box;
background-size: auto auto;
position: relative;
box-shadow: 1px 10px 12px #000000;
position: relative;
}

#main_nav {
width: 100%;
background-image: radial-gradient(circle, #000000, #1180FE);
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
background-clip: border-box;
background-origin: padding-box;
background-size: auto auto;
position: relative;
box-shadow: 2px 12px 16px #000000;
position: relative;
}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}

#main_nav.main_nav_fixed
{
position: fixed;
top: 0px;
left: 0px;
z-index: 1000;
}

.navbar-brand {
  margin-top: -0.6%;
}

.nav {
  margin-right: 10%;
  font-size: 35px;
  vertical-align: middle;
  margin-bottom: 10%;
  margin-top: -10%;

}

#gravatar {
  position: absolute;
  z-index: 1;
  /*width: 10%;
  height: 15%;*/
  /*left:10%;
  top: 10%;*/
  /*shadowed: 1px 20px 20px;*/
  /*margin-bottom: -2%;*/
  /*margin-left: 2%;*/
  max-height: 40px;
  max-width: 40px;
  align-items: center;
}


/* ACCUEIL
----------------------------------------------------*/

#accueil span {
  position:absolute;
  color:#0CF;
  background:rgba(0,0,0,.9);
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
  font-size: 20px;
}

#accueil:hover span, a:focus span{
  transform:scale(1) rotate(0);
  opacity:1;
}

#n {
  color: #0092D8;
}

#t {
  color: #CCCCCC;
}

#synergie {
  border: solid 1px #0092D8;
  margin-top: 5px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  background-color: #CCCCCC;
  text-align: left;
  color: #fff;
  font-size: 30px;
  background-image: radial-gradient(circle, #1180FE, #000000);
}

.jumbotron {
  margin-top: -80px;
}

.apercu {
  background-color: #FFFFFF;
  /*padding: 20px;*/
  color: #000000;
  /*margin-bottom: 20px;*/
}

/*
SIDE right--
----------------------------------------------------
---------------------------------------------------*/
.well {

  margin-top: 20px;
  text-align: center;
  margin-left: 30px;
}

/* TEAMSPEAK
---------------------------------------------------*/
#teamspeak {
  width: 60%;
  opacity: 80%;
  padding-left: 0%;
}


/* TWITCH
---------------------------------------------------*/

#img {
  margin: 20px 115px 20px 115px;
  display: block;
  padding: 0px;
}

th {
  text-align: center;
  font-style: bold;
}

/* FORUM
---------------------------*/
.categorie {
  background-color: #0088CC;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Custom navbar fixed after scroll
----------------------------------------------------------*/
/*html, body {
	height: 4000px;
}*/

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 40px;
  background-color: #000000;
  background-image: radial-gradient(circle, #1180FE, #000000);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  box-shadow: 1px 10px 12px #000000;
}
