/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap/theme";
 @import "devise_bootstrap_views";

 /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #777;
  /*margin: 10px;
*/}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  float: left;
  color: #fff;
  text-shadow: 2px 2px #5A8BFD;
  text-align: center;
  margin-left: -18%;
  display: block;
  width: 35%;
  padding-top: 10px;
}



/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place.
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

*/

/* NAVBAR
----------------------------------------------------*/
.main_nav
{
width: 100%;
height: 52px;

background-image: radial-gradient(circle, #1180FE, #000000);
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
background-clip: border-box;
/*background-origin: padding-box;*/
background-size: auto auto;
position: relative;
box-shadow: 1px 10px 12px #000000;
position: relative;

}

#main_nav
{
width: 100%;
background-image: radial-gradient(circle, #1180FE, #000000);
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
background-clip: border-box;
background-origin: padding-box;
background-size: auto auto;
position: relative;
box-shadow: 2px 12px 16px #000000;
position: relative;

}

.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}


#main_nav.main_nav_fixed
{
position: fixed;
top: 0px;
left: 0px;
z-index: 1000;
}

.jumbotron {
  margin-top: -40px;
}

/* ACCUEIL
----------------------------------------------------*/

#accueil {
  font-size: 30px;
  text-align: center;
}

.jumbotron {
  color: #fff;
  padding-top: 10px;
  background-color: #073264;
}


/* TEAMSPEAK
---------------------------------------------------*/
#teamspeak {
  width: 60%;
  padding-left: 30px;
}


/* TWITCH
---------------------------------------------------*/

#img {
  margin: 20px 115px 20px 115px;
  display: block;
  padding: 0px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* Custom navbar fixed after scroll
----------------------------------------------------------*/
/*html, body {
	height: 4000px;
}*/

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
/*  height: 52px;*/
  background-color: #000000;
  background-image: url("../img/bg_main_nav.png"), radial-gradient(circle, #1180FE, #000000);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;

  box-shadow: 1px 10px 12px #000000;
}
