/* Global */
::selection {
	background-color: #000;
	/*#4A4E51;*/
	color: #0CF;
}
::-moz-selection {
	background-color: #000;
	/*
	#4A4E51;*/
	color: #0CF;

}
/* Header*/

/* Logo
--------------------------*/
#main_header_logo { position: absolute; z-index: 1; width: 10%; height: 15%; left:10%; top: 10%; shadowed: 1px 20px 20px; }
#btn_scroll_up { cursor: pointer; background: center center no-repeat; width: 100px; height: 110px; position: fixed; bottom: 15px; right: 15px; z-index: 10; transition: all 0.5s; opacity: 0.5; display: none; }
#btn_scroll_up:hover { bottom: 25px; opacity: 1; }

#main_header_container { min-height: 600px; margin-bottom: 20px; }
#main_header { width: 100%; height: 300px; background: repeat-x; position: relative; overflow: hidden; }
#main_header_carousel { height: 300px; overflow: hidden; }
.main_header_carousel_img { width: 100%; height: 300px; background-repeat: no-repeat; background-position: center center; position: absolute; top: 0; left: 0; display: none; }
#main_header_carousel_nav { text-align: center; position: absolute; bottom: 10px; width: 100%; }
#main_header_carousel_nav li { display: inline-block; width: 11px; height: 11px; background-color: #454545; cursor: pointer; margin: 0 3px; border-radius: 50%; }
.carousel_nav_active, #main_header_carousel_nav li:hover { background-color: #00CCFF !important; }

#header_texts { position: absolute; right: 10px; bottom: 10px; z-index: 10; text-align: right; color: #fff; font-size: 11px; text-shadow: 1px 2px 2px #000; height: 15px; }


/* Nav */
#main_nav.main_nav_fixed { position: fixed; top: 0; left: 0; z-index: 1000; background-color: #2E68E2;}

#main_nav { width: 100%; height: 40px; position: relative; }
#main_nav ul { padding: 0; margin: 0; text-align: center; }
#main_nav ul li { display: inline-block; line-height: 40px; position: relative; }

#main_nav ul li:hover ul.main_nav_submenu,
#portal_nav ul li:hover ul.main_nav_submenu { display: block; }

#main_nav ul li a { display: block; padding: 0 15px; height: 40px; color: #fff; text-decoration: none; text-transform: uppercase; font-family: 'Sansation', arial; font-size: 14px; color: #fff; }
#main_nav ul li a:hover,
#main_nav ul li.active > a { color: #0CF; }

#main_nav ul li.parent_submenu_container > a:after,
#portal_nav ul li.parent_submenu_container > a:after { content: '\25BC'; position: absolute; top: 14px; color: #FFF; left: 0; width: 100%; text-align: center; font-size: 10px; }

#main_nav ul li ul.main_nav_submenu,
#portal_nav ul li ul.main_nav_submenu { display: none; position: absolute; left: 50%; right: 0; margin-left: -100px; width: 200px; border-top: 2px solid #0CF; z-index: 100; }

#main_nav ul li ul.main_nav_submenu li,
#portal_nav ul li ul.main_nav_submenu li { display: block; background-color: #424149; text-align: center; min-height: 25px; line-height: 1; padding: 0; border-bottom: 1px dashed #0CF; }

#main_nav ul li ul.main_nav_submenu li a,
#portal_nav ul li ul.main_nav_submenu li a { font-size: 10px; padding: 8px 6px 6px 6px; display: block; height: auto; }

#main_nav ul li ul.main_nav_submenu li .subsubmenu,
#portal_nav ul li ul.main_nav_submenu li .subsubmenu { display: none; }

#main_nav ul li ul.main_nav_submenu li:hover .subsubmenu,
#portal_nav ul li ul.main_nav_submenu li:hover .subsubmenu { display: block; }

/* Portail nav */
#portal_nav { background-color: #5D5D5D; min-height: 30px; line-height: 30px; border-bottom: 1px solid #D7D7D7; }
#portal_nav ul { list-style: none; padding: 0; margin: 0; }
#portal_nav ul li { display: inline-block; position: relative; }
#portal_nav nav > ul > li { border-right: 1px solid #D7D7D7; padding: 0 13px; }
#portal_nav nav > ul > li:first-child { border-left: 1px solid #D7D7D7; }
#portal_nav ul li a { display: inline-block; color: #FFF; font-size: 12px; font-family: verdana, arial; text-decoration: none; position: relative; }

#portal_nav ul li.parent_submenu_container > a:after { position: static; margin-left: 10px; }
